<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-3.1.xsd">
  <global-method-security pre-post-annotations="enabled" />
  <debug />
  <http pattern="/login.jsf" security="none" />
  <http pattern="/error.html" security="none" />
  <http pattern="/timeout.jsp" security="none" />
  <http use-expressions="true" create-session="always">
    <intercept-url pattern="/*.jsf" access="isFullyAuthenticated()" />
    <intercept-url pattern="/*.xhtml" access="isFullyAuthenticated()" />
    <session-management invalid-session-url="/timeout.jsp" session-fixation-protection="none">
      <concurrency-control max-sessions="1" session-registry-alias="sessionRegistry" />
    </session-management>
    <form-login login-page="/login.jsf" authentication-failure-url="/login.jsf?error=1" default-target-url="/index.xhtml" />
    <logout logout-success-url="/login.jsf" />
    <access-denied-handler error-page="/timeout.jsp" />
  </http>
  <authentication-manager>
    <authentication-provider>
      <user-service id="inMemoryDao">
        <user name="kranthi" password="kranthi" authorities="user"></user>
      </user-service>
    </authentication-provider>
  </authentication-manager>

</beans:beans>
